body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: black; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; z-index:-10;} /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.173);
    height: 400px;
    width: 300px;
    border-radius: 25px;
    flex-direction: column;
    gap: 25px;
}

.btn {
    outline: none;
    border-radius: 25px;
    background-color: #000000;
    box-shadow: 0 4px 0 rgb(99, 99, 99);
    padding: 10px;
    margin: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    min-width: 20px;
    font-size: 20px;
}

.btn:hover {
    background-color: #000000;
    transform: translateY(2px);
    box-shadow: 0 2px 0 rgb(105, 105, 105);
}

.btn:active {
    transform: translate(4px);
}

.buttons {
    flex: 1;
}

.row {
    display: flex;
    gap: 2px;
}

.btn {
    flex: 1;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    align-self: center;
    background-color: #000000;
    color: white;
    padding: 20px;
    font-size: 70px;
    text-align: end;
    font-family: 'digital';
}

@font-face {
    font-family: 'digital';
    src: url('digital-7.ttf') format('truetype');
}